*{
    margin: 0;
    padding: 0;
}

.body{
    display: flex;
    padding: 10px;
    background: #f223b04b;
    position: relative;
}
.body label{
    font-size: 1.5em;
    left: 0;
    color: darkmagenta;
}